**Data Types and Structures Questions and Answers**
1. What are data structures, and why are they important?
   - Fundamental ways of ogranize and store data, including lists, tuples, dictionaries and sets. Data structures optimizing data access and manipulation for efficient programming. They are important as they enable developers to to manage data effectively, enhancing code reliability, make the maintainance of the data easy and increase performance.

2. Explain the difference between mutable and immutable data types with examples?
   - Immutable data types are all premitive python data types like strings, int, boolean, float, tuple. These immutable data types cannot be changed after it is created.

   Mutable data types can be changed after creation of that object. Examples of mutable data types are lists, dictionaries, sets.

3. What are the main differences between lists and tuples in Python?
   -
   A. List is non-premitive data type which is mutable in nature where tuple is a primitive data type which is immutable in nature
   B. A blank list can be created by using the [] which will initialize a list object. Where to create an empty tuple we need to use ().
   C. Lists are good for dynamic collection of data where Tuples are good for fixed collection of data.

4. Describe how dictionaries store data?
   - Dictionaries stores data in key-value pair. Key and values are separated by colon (:). Items stored into a dictionary are ordered and get be retrived in the same order it got stored.
  
5. Why might you use a set instead of a list in Python?
   - A list may contains duplicate values and store data in ordered manner, however a set is an un-ordered list which consider only unique values. Sets are mainly useful for those scenarios where data duplication may cause problems to solve specific issue.

6. What is a string in Python, and how is it different from a list?
  - String is a primitive data type in python which is an ordered collection of Unicode characters defines with single or double quote. Where as list is an ordered collection of heterogenous data (int, float, complex number, string etc).

7. How do tuples ensure data integrity in Python?
  - Tupples are immutable to ensure that their contents are unchangeable once created ensure data integrity.

8. What is a hash table, and how does it relate to dictionaries in Python?
  - Hash tables stores data in key-value pairs and keys are generated using he hash function. Hash tables in python are implemented through built-in dictrionary data types.

9. Can lists contain different data types in Python?
 - Yes lists can contains heterogenous data types like int, float, complex, strings etc.

10. Explain why strings are immutable in Python?
  - Strings are primitive data types and by nature stringsa re immutable in nature. Once created, string objects can't be changed. Example: S = "Souvik" and now if we will try s[0] = 'K'; it will throw an error.

11. What advantages do dictionaries offer over lists for certain tasks?
  - Dictionaries stores data in key-value pair and we can use dictionary within dictionary or lists with in dictionary to store complex format data. For an example to create a student record, dictionary will be more useful to store all relevant data within a single data structure where we need to use multiple lists to store same data which will increase computational, data retrieval complexities significantly.

12. Describe a scenario where using a tuple would be preferable over a list?
  - Scenario's where we don't need to change data once created. For example consider a resturant menu system where prices are not getting change in every occurance. It provides better memory management than lists (as lists are mutable and some additional steps need to be taken to manage the memory) and makes it faster.

13. How do sets handle duplicate values in Python?
  - Sets implemented through hash table. Duplicate values are havign same hash hence ignored by set.

14. How does the “in” keyword work differently for lists and dictionaries?
 - 'In' membership operator checks for a 'value' within a list where as checks for a 'key' within in a dictionary.
 Ex:
    #Defining a list
    myList = ['Souvik', 'Kolkata', 47, 'Manager']
    # Defining a Dictionary
    myDict = {'name': 'Souvik', 'City': 'Kolkata', 'Age': 47
    print('Kolkata' in myList)  -> Returns true
    print('Kolkata' in myDict)  -> Returns false

15. Can you modify the elements of a tuple? Explain why or why not?
  - No. Tuples are immutable data types.

16. What is a nested dictionary, and give an example of its use case?
  - A nested dictionary is a dictionary within another dictionary. For an example consider a employee record that contains details of many employee and respective employee details can be a dictionary within the employee record.
  Ex:
  emp_rec = {
    'E01': {'name': 'John Doe', 'Dept': 'Marketing', 'Salary': 75000},
    'E02': {'name': 'John Right', 'Dept': 'Sales', 'Salary': 65000} # child dictionary
  } #parent dictionary

17. Describe the time complexity of accessing elements in a dictionary?
  - Dictionaries in python are implemented through hash-tables and provides efficient key-value lookups. The time complexity depends on the search operation where it is only the key lookup, value lookup or iteration over items.
  
  Keys are hashed and stored into a separate bucket which is easier to lookup where as values are not hashed and python has to check all values to determine wheather the value exists or not, takes longer time than key search.


18. In what situations are lists preferred over dictionaries?
  - Lists are ordered collection of mutable data which can also used as stack or queues for various operations. Where as dictionaries are key-value pairs which are mainly useful for complex types of data to store, example employee records which might contains multiple different types of information.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  - Python versions prior to 3.7 were stored dictionary data in unordered way. That means while retriving, dictionaries can return data in the different order in which those got inserted.
  However from Python 3.7 onward, items are stored in the order they inserted and the iteration will return keys in the order of insertion.

20. Explain the difference between a list and a dictionary in terms of data retrieval?
  - List datas are retrived in order of insertion and retrieval is index based. Data retrived in sequential order.

  Dictionary uses hash-table to retrive data in the form of key, value or items. Python creates hash of 'key' and stored inside a hash table which provides faster search and retrieval mechanism.

In [1]:
# 1. Write a code to create a string with your name and print it.
myName = 'Souvik Dhar'
print(myName)

Souvik Dhar

In [2]:
# 2. Write a code to find the length of the string "Hello World".
print(len('Hello World'))

11

In [3]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".
myString = "Python Programming"
sub_str = myString[:3]
print(sub_str)

Pyt

In [4]:
# 4. Write a code to convert the string "hello" to uppercase.
myStr = "hello"
myStr = myStr.upper()
print(myStr)

HELLO

In [6]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
myStr = "I like apple"
print(f"Before: " + myStr)
myStr = myStr.replace('apple', 'orange')
print(f"After: " + myStr)

Before: I like apple
After: I like orange

In [7]:
# 6. Write a code to create a list with numbers 1 to 5 and print it
myL = []
for i in range(1,6):
    myL.append(i)

print(myL)

[1, 2, 3, 4, 5]

In [9]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
myL = [1, 2, 3, 4]
print(f"Before: " + str(myL))
myL.append(10)
print(f"After: " + str(myL))

Before: [1, 2, 3, 4]
After: [1, 2, 3, 4, 10]

In [12]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
myL = [1, 2, 3, 4, 5]
print(f"Before: " + str(myL))
myL.remove(3)
print(f"After: " + str(myL))

Before: [1, 2, 3, 4, 5]
After: [1, 2, 4, 5]

In [13]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
myL = ['a', 'b', 'c', 'd']
val = myL[1]
print(val)

b

In [17]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50]
myL= [10, 20, 30, 40, 50]
print(f"Before: " + str(myL))
myL.reverse()
print(f"After Reverse: " + str(myL))

Before: [10, 20, 30, 40, 50]
After Reverse: [50, 40, 30, 20, 10]

In [18]:
# 11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.
myT = (100,200,300)
print(f"My Tupple =" + str(myT))

My Tupple =(100, 200, 300)

In [20]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
myT = ('red', 'green', 'blue', 'yellow')
myV = myT[1:]
print(f"Second to Last elements are :" + str(myV))

Second to Last elements are :('green', 'blue', 'yellow')

In [37]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
myT = (10, 20, 5, 15)
min_val = min(myT)
print(min_val)

5

In [38]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
myT = ('dog', 'cat', 'rabbit')
myI = myT.index('cat')
print(f"Index number of string 'cat' is " + str(myI))

Index number of string 'cat' is 1

In [39]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
myT = ('mango', 'apple', 'jackfruit')
'kiwi' in myT

False

In [42]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
myS = {'a', 'b', 'c'}
print(myS)

myS1 = set()
myS1.update('a')
myS1.update('b')
myS1.update('c')
print(myS1)

{'b', 'a', 'c'}
{'b', 'a', 'c'}

In [44]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
myS = {1, 2, 3, 4, 5}
print(f"Before Clearing :" + str(myS))
myS.clear()
print(f"After Clearing :" + str(myS))

Before Clearing :{1, 2, 3, 4, 5}
After Clearing :set()

In [45]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
myS = {1, 2, 3, 4, 5}
print(f"Before Removing :" + str(myS))
myS.remove(4)
print(f"After Removing :" + str(myS))

Before Removing :{1, 2, 3, 4, 5}
After Removing :{1, 2, 3, 5}

In [46]:
# 19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
A = {1, 2, 3}
B = {3, 4, 5}
print(A.union(B))

{1, 2, 3, 4, 5}

In [47]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
A = {1, 2, 3}
B = {2, 3, 4}
print(A.intersection(B))

{2, 3}

In [48]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
myDict = {
    'name': 'Souvik Dhar',
    'age': 45,
    'city': 'Kolkata'
}
print(myDict)

{'name': 'Souvik Dhar', 'age': 45, 'city': 'Kolkata'}

In [53]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
myDict = {
    'name': 'John',
    'age': 25,
}
print(myDict)

# Updating dictionary
myDict['country']='USA'
print("After Updating {}".format(myDict))

{'name': 'John', 'age': 25}
After Updating {'name': 'John', 'age': 25, 'country': 'USA'}

In [71]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
myDict = {
 'name': 'Alice', 'age': 20
}
for k,v in myDict.items():
  if k == 'name':
     print(v)

Alice

In [73]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
myDict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
print("Before removing the 'age' key \n{}".format(myDict))
del myDict['age']
print("After removing the 'age' key \n{}".format(myDict))

Before removing the 'age' key
{'name': 'Bob', 'age': 22, 'city': 'New York'}
After removing the 'age' key
{'name': 'Bob', 'city': 'New York'}

In [2]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
myD = {'name': 'Alice', 'city': 'Paris'}
flag = False
for k in myD.keys():
  if k == 'city':
    flag = True

if flag == True:
  print("Key City exists")
else:
  print("Key City absent")

Key City exists

In [5]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
myL = ['Souvik', 'Kolkata', 47, 5.0]
myT = ('Donald Trump', 72, 4+5j)
myD = {'name': 'Bob', 'age': 22, 'city': 'New York'}

print("List Items => {}".format(myL))
print("Tuple Items => {}".format(myT))
print("Dictionary Items => {}".format(myD))

List Items => ['Souvik', 'Kolkata', 47, 5.0]
Tuple Items => ('Donald Trump', 72, (4+5j))
Dictionary Items => {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [8]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
rand_numbers = random.sample(range(1,100),5)
rand_numbers.sort()
print("List of Random numbers => {}".format(rand_numbers))

List of Random numbers => [2, 22, 38, 84, 90]

In [9]:
# 28. Write a code to create a list with strings and print the element at the third index.
myL = ['Kolkata', 'Mumbai', 'Delhi', 'Jaipur', 'Chennai', 'Bengaluru']
print("City at index 3 is {}".format(myL[2]))

City at index 3 is Delhi

In [18]:
# 29. Write a code to combine two dictionaries into one and print the result.
D1 = {'name': 'Souvik', 'city': 'Kolkata'}
D2 = {'age': 45}
D1.update(D2)
print(D1)

{'name': 'Souvik', 'city': 'Kolkata', 'age': 45}

In [20]:
# 30. Write a code to convert a list of strings into a set.
myL = ['Kolkata', 'Mumbai', 'Delhi', 'Jaipur', 'Chennai', 'Bengaluru']

print("List Items => {}".format(myL))
myS = set()
for c in myL:
  myS.add(c)


print("Set Items => {}".format(myS))

List Items => ['Kolkata', 'Mumbai', 'Delhi', 'Jaipur', 'Chennai', 'Bengaluru']
Set Items => {'Delhi', 'Mumbai', 'Chennai', 'Bengaluru', 'Jaipur', 'Kolkata'}